html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    min-width: 320px;


    body {
        height: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        min-width: 320px;
        position: relative;
        font-size: 0.14rem;

    }
    .game {
        height: 100%;
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
    }
    .mode-box {
        display: none;
        height: 100%;
        width: 100%; 
        background: #333;
        position: absolute;
        z-index: 5;
        top:0;
        left: 0;
    }
    .logo {
        width: 2.85rem;
        display: block;
        height: 0.82rem;
        margin: 60% auto 0;
       
        position: relative;

    }
    .load {
        width: 100px;
        text-align: center;
        color: #fff;
        font-size: 0.3rem;
        margin: 0.5rem auto;
    }
    #process {
        padding-right: 0.05rem;
    }
    

}
