<!doctype html>
<html>

<head>
    <title>ad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容旧手机 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 点击无高亮 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- iphone隐藏工具菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽视电话识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
</head>

<body>

    <div class="root">
        <div class="root-content">
            <!-- template -->
            模板编译webpack-gulp
            <p>gulp</p>

            <p>gulp</p>
            <p>gulp</p>
            <p>gulp</p>
            <button>123</button>
            <!-- template -->
        </div>
    </div>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/eruda"></script>

    <script>
        // if (document.getElementById("root")) {
        //             if (window.innerWidth > window.innerHeight) {
        //                 document.getElementById("root").className = 'root landscape'
        //             } else {
        //                 document.getElementById("root").className = 'root portrait'
        //             }

        //         }
        eruda.init();
    </script>

    <script src="https://zeptojs.com/zepto.min.js" inline></script>
</body>

</html>