<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容旧手机 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 点击无高亮 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- iphone隐藏工具菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽视电话识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <script>
        function setFontSize(designWidth, minWidth, maxWidth) {
            var htmlEl = document.documentElement,
                momentWith = 0;
            momentWith =
                htmlEl.clientWidth > maxWidth ? maxWidth : htmlEl.clientWidth;
            momentWith = momentWith < minWidth ? minWidth : momentWith;
            htmlEl.style.fontSize = (momentWith / designWidth) * 100 + 'px';
        }
        setFontSize(640, 200, 1080);
        window.addEventListener('resize', function() {
            setTimeout(function() {
                setFontSize(640, 200, 1080);
            }, 100)

        });
        var icon = document.createElement('img');
        var iconUrl = '{{icon}}';
        if (iconUrl) {
            icon.src = iconUrl;
            icon.onload = function() {
                document.getElementById('icon').src = iconUrl;
            };
        }

        function onOk() {
            try {
                window.location = '{{click_url}}';
            } catch (err) {}
        }
    </script>
</head>

<body>

    <div class="root" style="background-image: url({{banner}});">
        <div class="root-content">
            <!-- template -->
            <div class="main-box">
                <div class="title">{{title}}</div>
                <div class="desc">
                    {{desc}}
                </div>
                <div onclick="onOk(event)" class="button">查看</div>
            </div>
            <!-- template -->
        </div>
    </div>

</body>

</html>