<!doctype html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容旧手机 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 点击无高亮 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- iphone隐藏工具菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽视电话识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <script>
    </script>
</head>

<body>

    <div class="root" id="root">
        <img class="litter-icon" src="data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAABYdJREFUWAnN
            WV0s5FcUN2YwZhgf42MxRgmWiFrN2CBBSSuo+oiV6HrQhIjPxKt4kAgRiQeJByTSB8X6CI3IPpVs
            g8QDlaW1WRvRjlG7TVEMq8aY6TlN7vTO+P/9/zPGx02Oe+7Huffn3P8995wzAof/iwBYGZAHkDMQ
            tu+jGGFTHdAR0DEQtk1gRMA/AnLFzgdUzgDLByC9EP6g5gKBHhpIgOTgBCQG0qIm8bhtAllSUuKR
            l5cXEhoaGuTl5eXn5OQkAXIVCARCnU6nPT09PTw5OTnY2dn5s7u7+938/DxqyNqC2GSoTSWQC19p
            d3d3QVdXV1RCQkKcXC4P5itnMBiMBwcHvy8tLf1aW1v79vz8nK8ozjtHoOFAvC5OR0eHsqCgIMPN
            zc0XpW0tR0dHH4aGhmba2tre81zDiAAjuCYHBgYKR0dHM8LCwp5wzbVmfGtr63VhYeHs3t6egUvO
            kWtCenq6ZGZm5rm9QeK+uObs7OyzuLg4NIfXFrz1crYZSUlJ4v7+/hKZTObHNuem/RKJxDM/Pz9i
            dXX17fb2tp5tPVageNwTExPf8AHZ2tr6nUgk2gMZpaOjI65pVXF2dpbAyQUMDg6ug7VglGU9+pGR
            kc89PDz8GaWoTrzNPT09+8XFxa/7+vpGLy4umHeiZJhYtCDT09NpTGPYx6jRzs7OT1JTU79gErq8
            vDTAf/0RzMsp1nq9/lytVr/b2NjQgZ08AZu65+/vL0XNgpY5vz16DwAb5Ovrq4HvFp9Os3Ll1ru4
            uDisra19iybo7OzsGG6kBm7nzvr6+l9zc3OH1hjt0tJSz8rKys8AfLxQKGQ9PRrR4eHh+5iYmEG6
            D/krQHHxzMzMwKmpKc3k5KTWUsCWdkNDg19dXV2hq6srvoKcBfb+oaamZpOeeAUoPXgTPiQkRARm
            RwwvmcjT0xN5eVZW1legWc7LBlrdAa2+oPfHt/5WCjyXl9HR0dLExMRgpVKp8Pb2VvABiWDA0ijQ
            NC4uLv5DwN2aRskGdF1dXS0HM6QAbQf7+PgoxGKxOz1O8/DIvCwrK3tD+u4UKNmU1GDSZLm5uYqI
            iAgEHiyVSr3ImEajeQOn8ZK0zYDijbfSqyHr2KUGC+Hd3NxcjotZfqdmJgPsGOeHbhdELIusrKyc
            kiFQmpTwWJsBpQfug8/Ozjb5HfCsutEYzIDu7u5e0oN3zYNzoiJ7QpSAYYipmAE19d4DA450bEBA
            wGOyNYYyhMf61uwovQkXPz4+/gRuuJlvgfEWLXevGs3JyZEuLy9/nZyc/CU4MWiBTAWCwr9NDWDu
            RaMYNTQ1NakiIyPRWWH0sCByxXjeVO4UKDo8VVVVCfAyxV73nKKPi+G1CSUwdwK0sbHxUVFR0VPw
            Ux/DEdP7M/LgJ6gt3clbBVpeXu5VX1+fAc5wGCMilk6I/X+xHDJ7Qi0HbW1jkgLireSoqKhEOGJu
            FVIbYcwfHx//veVTbtUi1HqsLLpnCwsLz8CfTLYWJC6KiQlLkNhvV41ifD42Nvbc1kwKJiRSUlJ+
            RGCWxW4axeMeGBjIsxUkxGZqzJpYAiRtuwEdHh5WgU8ZSha2pgbjvg8Xb+q61I5dgKpUKpfY2Ngk
            a8CRufv7+9sVFRUv4IW6Nr1nF/PU3t7+FPKivFOXBOTm5uYyePg/abXa/9LfpJ+pRo1yTmISJH1w
            3I7h4eGfkjafGmN3+J5H0tLSXvEBCWsaUaOYgrFaGwRQS0tLGOaOSJuthmfRAWykBpIYy5YxO5sM
            1a9DoPjrg83ZOtCIDo7wZ4jd5RicQQghMxqNevAnTzDtA+PHkO75rbe3d4sOfykQfNgjtKNIQUA2
            5fH57HLDOZj3/4MEcx+hgb8+mLn/N9zAHuLk5xsDapMU5B/sD2L/AjqE2e99q113AAAAAElFTkSu
            QmCC" alt="">
    </div>

</body>
<script>
    function getTmpInfo(option) {
        var root = document.getElementById('root');
        root.style.backgroundImage = 'url(' + option.background + ')';
        root.onclick = function(event) {

            try {
                window.location = option.link;
            } catch (err) {};



        };

    };



    /** 数据填充
     getTmpInfo({
        clickType: 0, // 1 全局可点， 2按钮可点 3全屏可点
        background: 'https://android-screenimgs.25pp.com/fs08/2019/11/06/3/106_2e288a5f5f4a9703365bff7c3e7abd30_234x360.jpg', //背景图片
        link: '跳转链接'
    });
 
    */
</script>


</html>