<!doctype html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容旧手机 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 点击无高亮 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- iphone隐藏工具菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽视电话识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <script>
        var body = document.body || document.documentElement;
        body.style.display = 'none';

        function setFontSize(designWidth, minWidth, maxWidth) {
            var htmlEl = document.documentElement,
                momentWith = 0;
            momentWith =
                htmlEl.clientWidth > maxWidth ? maxWidth : htmlEl.clientWidth;
            momentWith = momentWith < minWidth ? minWidth : momentWith;
            htmlEl.style.fontSize = (momentWith / designWidth) * 100 + 'px';
        }
        setFontSize(640, 200, 640);
        window.addEventListener('resize', function() {
            setTimeout(function() {
                if (document.getElementById("root")) {
                    if (window.innerWidth > window.innerHeight) {
                        document.getElementById("root").className = 'root landscape';
                    } else {
                        document.getElementById("root").className = 'root portrait';
                    };

                };
                setFontSize(640, 200, 640);
            }, 300)

        });

        setTimeout(function() {
            body.style.display = 'block';
        }, 300)



        function onClose(e) {
            e.stopPropagation();
            window.location = 'video://close';
        }
    </script>
</head>

<body>

    <div class="root" id="root">
        <div class="root-content">
            <!-- template -->
            <div class="line"></div>
            <div class="main-box">
                <div class="desc" id="content">
                    <div id="desc">亲～<br/> 点击查看有惊喜哦~
                    </div>
                </div>
                <div class="button" id="button">

                </div>
            </div>
            <!-- template -->
        </div>
    </div>

</body>
<script>
    function getTmpInfo(option) {
        var body = document.body || document.documentElement;
        body.style.display = 'none';
        var root = document.getElementById('root');
        if (option.device == 'landscape') {
            root.className = "root landscape"
        } else {
            root.className = "root portrait"
        }
        var button = document.getElementById('button');
        var desc = document.getElementById("desc");
        if (option.desc) {
            desc.innerHTML = option.desc;
        }
        var content = document.getElementById('content');
        button.innerText = option.buttonText
        button.onclick = function(event) {
            try {
                window.location = option.link;
            } catch (err) {};
        };
        content.onclick = function(event) {
            if (option.clickType == 1) {
                window.location = option.link;
            }
        };
        button.onclick = function(event) {
            if (option.clickType == 2 || option.clickType == 1) {
                window.location = option.link;
                event.stopPropagation();
            }
        };
        root.onclick = function(event) {
            if (option.clickType == 3) {
                try {
                    window.location = option.link;
                } catch (err) {};
            }

        };
        setTimeout(function() {
            body.style.display = 'block';
        }, 300);
    }



    /** 数据填充
     *   
    getTmpInfo({
        device: "landscape", // landscape || portrait
        clickType: 1, // 1 全局可点， 2按钮可点 3全屏可点
        link: '跳转链接',
        desc: "描述更换",
        buttonText: "立即查看"
    })
    */
</script>


</html>