<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容旧手机 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 点击无高亮 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- iphone隐藏工具菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽视电话识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <script>
        function setFontSize(designWidth, minWidth, maxWidth) {
            var htmlEl = document.documentElement,
                momentWith = 0;
            momentWith =
                htmlEl.clientWidth > maxWidth ? maxWidth : htmlEl.clientWidth;
            momentWith = momentWith < minWidth ? minWidth : momentWith;
            htmlEl.style.fontSize = (momentWith / designWidth) * 100 + 'px';
        }
        setFontSize(320, 200, 640);
        window.addEventListener('resize', function() {
            setTimeout(function() {
                setFontSize(320, 200, 640);
            }, 100)
        });

        function onOk(event) {
            try {
                window.location = 'video://retain.download';
                banBubbles(event)
            } catch (err) {}
        }

        function onCancel(event) {
            try {
                window.location = 'video://close';
                banBubbles(event)
            } catch (err) {}
        }

        function banBubbles(e) {
            try {
                var ev = e || window.event;
                if (ev && ev.stopPropagation) {
                    ev.stopPropagation();
                } else {
                    ev.cancelBubble = true;
                }
            } catch (err) {}
        }
    </script>
</head>

<body>

    <div class="root">
        <div class="root-content">
            <!-- template -->
            <img id="icon" class="icon" src="http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191204/emoji.png.png" alt="icon" />
            <div class="desc">
                <div>
                    亲，您真的不想下载安装体验下吗~
                </div>
            </div>
            <div class="button-group">
                <div onclick="onCancel(event)" class="button cancel">不了</div>
                <div onclick="onOk(event)" class="button">查看</div>
            </div>
            <!-- template -->
        </div>
    </div>

</body>

</html>