html {

    background: none;
    width     : 100%;
    margin    : 0;
    background: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    padding   : 0;
    min-width : 320px;
    height    : 100%;


    body {
        height    : 100%;
        width     : 100%;
        background: rgba(255, 255, 255, 0);
        margin    : 0;
        box-sizing: border-box;
        padding   : 0;
        min-width : 320px;
        position  : relative;
        font-size : 14px;

    }

    @keyframes scaleDraw {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(1.1);
        }

        50% {
            transform: scale(1);
        }

        75% {
            transform: scale(1.1);
        }
    }


    .root {
        height    : 100%;
        margin    : 0 auto;
        display   : none;
        width     : 100%;
        opacity   : 1;
        box-sizing: border-box;
        position  : absolute;
        top       : 0;
        left      : 0;

        &.landscape {
            .content {
                width : 100%;
                margin: 0 auto;
            }

            .root-content {
                height     : 100%;
                box-sizing : border-box;
                max-width  : 3.2rem;
                font-family: '思源黑体 CN Bold Bold', "Microsoft Yahei";
                margin     : 0 auto;
                padding    : 0 0.1rem;
                width      : 100%;
                overflow   : hidden;

                .icon-wrap {
                    left     : 0.14rem;
                    bottom   : 0.14rem;
                    max-width: 0.9rem;

                    @media screen and (max-width: 460px) {
                        max-width: 1.2rem;
                    }

                    position: absolute;
                }

                .icon {
                    width  : 0.2rem;
                    display: block;
                    margin : 0.32rem auto 0;
                    height : 0.2rem;
                }

                .title {
                    color   : #FFCE82;
                    overflow: hidden;

                    text-align   : center;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                    margin       : 0.07rem auto 0;

                    font-size: 0.14rem;

                }

                .desc {
                    color                : #FFCE82;
                    font-size            : 0.2rem;
                    text-align           : center;
                    width                : 2rem;
                    line-height          : 0.28rem;
                    display              : box;
                    padding              : 0.3rem 0 0 0;
                    margin               : 0 auto;
                    margin-bottom        : 0.15rem;
                    overflow             : hidden;
                    // display           : -webkit-box;
                    // -webkit-line-clamp: 2;
                    min-height           : 0.6rem;
                    max-height           : 0.82rem;
                    // line-clamp        : 2;
                    -webkit-box-orient   : vertical;
                    box-orient           : vertical;
                    font-weight          : bold;
                }

                .go {
                    position       : relative;
                    width          : 0.74rem;
                    height         : 0.74rem;
                    margin         : 0 auto;
                    background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button_1.png.png') no-repeat center;
                    background-size: 100%;
                    animation      : scaleDraw ease-in-out infinite 1200ms;

                    &.g0 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button_2.png.png') no-repeat center;
                        background-size: 100%;
                    }

                    &.g1 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button1_3.png.png') no-repeat center;
                        background-size: 100%;
                    }

                    &.g2 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button_4.png.png') no-repeat center;
                        background-size: 100%;
                    }

                    &.g3 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20200109/button_2.png.png') no-repeat center;
                        background-size: 100%;
                    }
                }

                .close-box {
                    height     : 0.48rem;
                    box-sizing : border-box;
                    padding-top: 0.17rem;
                }

                .close-btn {
                    width  : 0.26rem;
                    height : 0.26rem;
                    display: block;

                }

                .base-Box {
                    position         : relative;
                    height           : 2.2rem;
                    width            : 100%;
                    background-repeat: no-repeat;
                    background       : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/A_BG (1).png.png') no-repeat center;
                    background-size  : 100% 98%;
                }

                .litter-icon {
                    width   : 0.14rem;
                    height  : 0.14rem;
                    position: absolute;
                    right   : 0.1rem;
                    bottom  : 0.1rem;

                }
            }

        }

        &.portrait {
            .content {
                width : 100%;
                margin: 50% auto 0;
            }

            .root-content {
                height     : 100%;
                box-sizing : border-box;
                max-width  : 640px;
                font-family: '思源黑体 CN Bold Bold', "Microsoft Yahei";
                margin     : 0 auto;
                padding    : 0 0.36rem;
                width      : 100%;
                overflow   : hidden;

                .icon-wrap {
                    left     : 0.14rem;
                    bottom   : 0.14rem;
                    max-width: 0.9rem;

                    @media screen and (max-width: 460px) {
                        max-width: 1.2rem;
                    }

                    position: absolute;
                }

                .icon {
                    width  : 0.36rem;
                    display: block;
                    margin : 0.32rem auto 0;
                    height : 0.36rem;
                }

                .title {
                    color   : #FFCE82;
                    overflow: hidden;

                    text-align   : center;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                    margin       : 0.07rem auto 0;

                    font-size: 0.14rem;

                }

                .desc {
                    color                : #FFCE82;
                    font-size            : 0.28rem;
                    text-align           : center;
                    width                : 4rem;
                    line-height          : 0.53rem;
                    display              : box;
                    padding              : 0.44rem 0 0 0;
                    margin               : 0 auto;
                    margin-bottom        : 0.15rem;
                    overflow             : hidden;
                    // display           : -webkit-box;
                    // -webkit-line-clamp: 2;
                    min-height           : 1.1rem;
                    max-height           : 1.6rem;
                    // line-clamp        : 2;
                    -webkit-box-orient   : vertical;
                    box-orient           : vertical;
                    font-weight          : bold;
                }

                .go {
                    position       : relative;
                    width          : 1.32rem;
                    height         : 1.32rem;
                    margin         : 0 auto;
                    background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button_1.png.png') no-repeat center;
                    background-size: 100%;
                    animation      : scaleDraw ease-in-out infinite 1200ms;

                    &.g0 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button_2.png.png') no-repeat center;
                        background-size: 100%;
                    }

                    &.g1 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button1_3.png.png') no-repeat center;
                        background-size: 100%;
                    }

                    &.g2 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/button_4.png.png') no-repeat center;
                        background-size: 100%;
                    }

                    &.g3 {
                        background     : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20200109/button_2.png.png') no-repeat center;
                        background-size: 100%;
                    }
                }

                .close-box {
                    height     : 0.98rem;
                    box-sizing : border-box;
                    padding-top: 0.3rem;
                }

                .close-btn {
                    width  : 0.40rem;
                    height : 0.40rem;
                    display: block;

                }

                .base-Box {
                    position         : relative;
                    height           : 3.6rem;
                    width            : 100%;
                    background-repeat: no-repeat;
                    background       : url('http://zhizh-front.oss-cn-shenzhen.aliyuncs.com/2/20191203/A_BG (1).png.png') no-repeat center;
                    background-size  : 100% 98%;
                }

                .litter-icon {
                    width   : 0.25rem;
                    height  : 0.25rem;
                    position: absolute;
                    right   : 0.14rem;
                    bottom  : 0.14rem;

                }
            }

        }
    }



    .root2 {
        height          : 100%;
        margin          : 0 auto;
        display         : none;
        width           : 100%;
        opacity         : 1;
        box-sizing      : border-box;
        background-color: rgba(0, 0, 0, 0.6);
        position        : absolute;
        top             : 0;
        left            : 0;

        .center-wrap {
            text-align: center;
        }

        &.portrait {
            padding: 1px 0;



            .root-content2 {
                box-sizing : border-box;
                max-width  : 640px;
                font-family: '思源黑体 CN Bold Bold', "Microsoft Yahei";
                margin     : 50% auto 0;
                position   : relative;
                min-width  : 320px;
                top        : -0.4rem;
                width      : 5.69rem;
                overflow   : hidden;

                .header-box {
                    position   : relative;
                    line-height: 0.46rem;



                    .title2 {
                        font-size  : 0.23rem;
                        line-height: 1.5;
                        text-align : center;
                        color      : #fff;
                        display    : inline;
                    }
                }

                .img-body {
                    padding: 0.15rem 0;

                    img {
                        width: 100%;
                    }
                }

                .icon {
                    vertical-align: middle;
                    width         : 0.46rem;
                    display       : inline-block;
                    margin        : 0 0.21rem 0 0.18rem;
                    height        : 0.46rem;
                }

                .desc2 {
                    text-align        : center;
                    margin-top        : 0.16rem;
                    font-size         : 0.23rem;
                    color             : #fff;
                    overflow          : hidden;
                    text-overflow     : ellipsis;
                    display           : -webkit-box;
                    -webkit-line-clamp: 2; // 控制多行的行数
                    -webkit-box-orient: vertical;
                    line-height       : 1.5;
                }

                .close-btn {
                    width  : 0.46rem;
                    height : 0.46rem;
                    display: block;
                    margin : 0.15rem auto;
                }

            }

        }

        //TODO
        &.landscape {

            .root-content2 {
                box-sizing : border-box;
                font-family: '思源黑体 CN Bold Bold', "Microsoft Yahei";
                margin     : 0.18rem auto 0;
                position   : relative;
                max-width  : 320px;
                width      : 3.2rem;
                overflow   : hidden;

                .header-box {
                    position   : relative;
                    line-height: 0.26rem;

                    .title2 {
                        font-size    : 0.13rem;
                        text-align   : center;
                        color        : #fff;
                        line-height  : 1.5;
                        text-overflow: ellipsis;
                        display      : inline
                    }
                }

                .img-body {
                    padding: 0.08rem 0;

                    img {
                        width: 100%;
                    }
                }

                .icon {
                    vertical-align: middle;
                    width         : 0.26rem;
                    display       : inline-block;
                    margin        : 0 0.12rem 0 0.1rem;
                    height        : 0.26rem;
                }

                .desc2 {
                    margin-top        : 0.09rem;
                    font-size         : 0.13rem;
                    color             : #fff;
                    overflow          : hidden;
                    line-height       : 1.5;
                    text-overflow     : ellipsis;
                    display           : -webkit-box;
                    -webkit-line-clamp: 2; // 控制多行的行数
                    -webkit-box-orient: vertical;
                    text-align        : center;
                }



            }

            .close-btn {
                width  : 0.26rem;
                height : 0.26rem;
                display: block;
                margin : 0.1rem auto;

            }


        }


    }

}