html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    min-width: 320px;
    

    body {
        height: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        min-width: 320px;
        position: relative;
        font-size: 14px;

    }

    .root {
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-sizing: border-box;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        &.portrait {
            #content {
                margin: 50% auto;
                background-color: rgba(255, 255, 255, 0.9);
                height: 4.27rem;
                box-sizing: border-box;
                padding-top: 0.82rem;
                width: 100%;
            }
    
            .root-content {
                height: 100%;
                box-sizing: border-box;
                width: 100%;
                overflow: auto;
            }
            .icon {
                margin: 0 auto 0;
                display: none;
                width: 1.28rem;
                height: 0.82rem;
            }
            .icon2 {
                margin: 0 auto 0;
                display: none;
                width: 1.42rem;
                height: 0.89rem;
            }
            .desc {
                text-align: center;
                margin: 0.21rem auto 0;
                width: 5.33rem;
                height: 0.24rem;
                font-size: 0.25rem;
                font-family: SourceHanSansCN-Normal, SourceHanSansCN;
                font-weight: 400;
                color: rgba(57, 57, 57, 1);
                line-height: 0.4rem;
            }
            
            .button-group {
                margin: 0.5rem auto 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 4.98rem;
            }
            
            .button {
                display: block;
                text-align: center;
                font-size: 0.32rem;
                font-family: Roboto-Medium, Roboto;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                width: 100%;
                height: 0.82rem;
                line-height: 0.82rem;
                background:linear-gradient(90deg,rgba(255,129,50,1) 0%,rgba(255,61,50,1) 100%);
                border-radius: 0.49rem;
            }
        }
        &.landscape {
            #content {
                margin: 0.6rem auto;
                background-color: rgba(255, 255, 255, 0.9);
                height: 2.4rem;
                box-sizing: border-box;
                padding-top: 0.46rem;
                width: 3.6rem;
            }
    
            .root-content {
                height: 100%;
                box-sizing: border-box;
                width: 100%;
                overflow: auto;
            }
            .icon {
                margin: 0 auto 0;
                display: none;
                width: 0.8rem;
                height: 0.5rem;
            }
            .icon2 {
                margin: 0 auto 0;
                display: none;
                width: 1.02rem;
                height: 0.55rem;
            }
            .desc {
                text-align: center;
                margin: 0.12rem auto 0;
                width: 3rem;
                height: 0.22rem;
                font-size: 0.14rem;
                font-family: SourceHanSansCN-Normal, SourceHanSansCN;
                font-weight: 400;
                color: rgba(57, 57, 57, 1);
                line-height: 0.22rem;
            }
            
            .button-group {
                margin: 0.28rem auto 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 2.8rem;
            }
            
            .button {
                display: block;
                text-align: center;
                font-size: 0.18rem;
                font-family: Roboto-Medium, Roboto;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                width: 100%;
                height: 0.46rem;
                line-height: 0.46rem;
                background:linear-gradient(90deg,rgba(255,129,50,1) 0%,rgba(255,61,50,1) 100%);
                border-radius: 0.24rem;
            }
        }
        
    }



}