<!doctype html>
<html>

<head>
    <title>ad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 兼容旧手机 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 点击无高亮 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- iphone隐藏工具菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽视电话识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />
</head>

<body>
    <div class="root">
        <div class="root-content">
            <div class="box">
                <div id="step"></div>
            </div>

        </div>
    </div>
    <script src="https://zeptojs.com/zepto.min.js" inline></script>
</body>

</html>